aws_region = "eu-west-1"
role_name  = "codebuild-example-CloudFrontInvalidation-service-role"
role_path  = "/service-role/"

tags = {
  Environment = "Production"
  Project     = "example"
  Purpose     = "CloudFront Invalidation"
  CreatedBy   = "Terraform"
}
