.container-base > main.gallery-page {
  width: 60vw;
  max-width: 600px;
}

.gallery-images img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  padding: 5px;
}

@media (max-width: 600px) {
  .container-base > main.gallery-page {
    width: 90vw;
  }
}
