.container-base > main.gallery-page {
  width: 60vw;
  max-width: 600px;
}

.container-base > main.gallery-page h1 {
  width: 100%;
  height: auto;
  font-size: clamp(32px, 7vw, 48px);
  font-weight: 300;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 1em;
  text-align: left;
}

.gallery-images img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  padding: 5px;
}

@media (max-width: 600px) {
  .container-base > main.gallery-page {
    width: 90vw;
  }
}
